* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

input {
  margin-right: 5px;
}

.Input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.InputAdd {
  height: 20px;
  width: 70%;
}

.TodoList {
  margin: auto;
  margin-top: 50px;
  width: 20%;
  border: 10px solid black;
}

.ListContent {
  padding-left: 10px;
  text-align: left;
}

.Todo {
  width: 20%;
  word-wrap: break-word
}

.Done {
  text-decoration: line-through;
}

button {
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

ul {
  list-style-type: none;
}
